<div class="navbar">
  <a [routerLink]="['/']">
    <div class="navbar-header">Bookworld</div>
  </a>
  <div class="navbar-list">
    <a [routerLink]="['/books']"><div class="navbar-item">books</div></a>
    <a [routerLink]="['/copies']"><div class="navbar-item">copies</div></a>
    <a [routerLink]="['/libraries']"><div class="navbar-item">libraries</div></a>
  </div>
</div>
