<div class="main">

  <p class="main-title">copies</p>
  <button class="btn add-new">add a copy</button>

  <div class="list">

    <div class="list-header">
      <h3 class="list-header__item copy-book">Book </h3>
      <h3 class="list-header__item copy-library">Library</h3>
      <h3 class="list-header__item checked-out">Checked Out</h3>
      <h3 class="list-header__item book-format">Format</h3>
    </div>

    <div class="item-list">

      <div class="list-row">
        <p class="row-item copy-book">
          The Lord of the Rings
        </p>
        <p class="row-item copy-library">
          Library I
        </p>
        <p class="row-item checked-out yes">Yes</p>
        <p class="row-item book-format">
          Paperback
        </p>
        <span class="edit-btn">
          <a class="edit" href="#"><i class="fas fa-edit"></i></a>
          <a class="delete" href="#"><i class="fas fa-trash"></i></a>
        </span>
      </div>

    </div>

  </div>

</div>
