<div class="main">

  <p class="main-title">books</p>
  <a class="btn add-new">
    <div>
      add a book
    </div>
  </a>

  <div class="list">

    <div class="list-header">
      <h3 class="list-header__item book-title">Title</h3>
      <h3 class="list-header__item book-author">Author</h3>
      <h3 class="list-header__item book-pages">Pages</h3>
      <h3 class="list-header__item book-date">Date</h3>
      <h3 class="list-header__item book-price">Price</h3>
    </div>

    <div class="item-list">

      <div class="list-row">
        <p class="row-item book-title">The Lord of the Rings</p>
        <p class="row-item book-author">J.R.R. Tolkien</p>
        <p class="row-item book-pages">1138</p>
        <p class="row-item book-date">July 24, 1954</p>
        <p class="row-item book-price">$0.00</p>
        <span class="edit-btn">
          <a class="edit" href="#"><i class="fas fa-edit"></i></a>
          <a class="delete" href="#"><i class="fas fa-trash"></i></a>
        </span>
      </div>


      <div class="list-row">
        <p class="row-item book-title">To Kill a Mockingbird</p>
        <p class="row-item book-author">Harper Lee</p>
        <p class="row-item book-pages">296</p>
        <p class="row-item book-date">July 11, 1960</p>
        <p class="row-item book-price">$0.00</p>
        <span class="edit-btn">
          <a class="edit" href="#"><i class="fas fa-edit"></i></a>
          <a class="delete" href="#"><i class="fas fa-trash"></i></a>
        </span>
      </div>

      <div class="list-row">
        <p class="row-item book-title">The Bell Jar</p>
        <p class="row-item book-author">Sylvia Plath</p>
        <p class="row-item book-pages">244</p>
        <p class="row-item book-date">January 14, 1963</p>
        <p class="row-item book-price">$0.00</p>
        <span class="edit-btn">
          <a class="edit" href="#"><i class="fas fa-edit"></i></a>
          <a class="delete" href="#"><i class="fas fa-trash"></i></a>
        </span>
      </div>

    </div>

  </div>

</div>
