<div class="main">

  <p class="main-title">libraries</p>
  <button class="btn add-new">add a library</button>

  <div class="list">

    <div class="list-header">
      <h3 class="list-header__item lib-name">Library Name</h3>
      <h3 class="list-header__item lib-manager">Manager</h3>
    </div>

    <div class="item-list">

      <div class="list-row libraries-row">
        <p class="row-item lib-name">The Library</p>
        <p class="row-item lib-manager">Dr. Library</p>
        <span class="edit-btn">
          <a class="edit" href="#"><i class="fas fa-edit"></i></a>
          <a class="delete" href="#"><i class="fas fa-trash"></i></a>
        </span>
      </div>

      <div class="list-row libraries-row">
        <p class="row-item lib-name">The Library II</p>
        <p class="row-item lib-manager">Dr. Library</p>
        <span class="edit-btn">
          <a class="edit" href="#"><i class="fas fa-edit"></i></a>
          <a class="delete" href="#"><i class="fas fa-trash"></i></a>
        </span>
      </div>

      <div class="list-row libraries-row">
        <p class="row-item lib-name">The Library III</p>
        <p class="row-item lib-manager">Dr. Library</p>
        <span class="edit-btn">
          <a class="edit" href="#"><i class="fas fa-edit"></i></a>
          <a class="delete" href="#"><i class="fas fa-trash"></i></a>
        </span>
      </div>
    </div>

  </div>

</div>
